#one{
	color:blue;

}
#two{
	color: lightblue;
}
p
{
	color: blue;
}
body{
	text-align: center;

}
button a{
	text-decoration: none;
	font-size: 20px;
}
/*#first{

	text-decoration: none;
	/*width: 10%;
	height: 40%;*/
}*/
#three{
	color: blue;

}
#four{
	color: lightblue;
}